*.diff
*.mode1v3
*.orig
*.pbxuser
*.perspective
*.perspectivev3
*.swp
.DS_Store
build/
csv_to_kml/*.csv
csv_to_kml/*.kml
csv_to_kml/*.kmz
dist/
docs/README.html
docs/background_tracking.html
docs/doxygen
docs/storage_schemas.html
tags
